{% extends "auctions/layout.html" %}

{% block body %}
<div class="product-details">
  <div class="container">
<div class="row">
  <div class="col-md-6">
      <div class="pro-img-details">
          <img src="{{products.imageurl}}" alt="">
      </div>
  </div>
  <div class="col-md-6 pro-details">
    {% if winner %}
    <h5 class="rounde alert alert-success border">Congratulation!! You Own The Bid -{{user.username}}</h5>
    {% endif %}

     <h4 class="pro-d-title"> {{products.title}}{% if not products.ended %} <span class="badge badge-success">Active</span> {% else %} <span class="badge badge-warning">Closed</span> {% endif %} </h4>
      <p>{{products.description}}</p>

      <div class="product_meta">
        <span class="posted_in"> <strong>Categories:</strong> {{products.category}} </span>
      </div>

      <div class="m-bot15"> <strong>Price : </strong> <span class="text-info amount-old">Starting Price: ${{products.price}}</span>{% if products.bid_price %}<span class=" text-danger  pro-price">Current Bid Price: ${{products.bid_price}}</span>{% else %}<span class=" text-danger  pro-price">Current Bid Price: ${{products.price}}</span> {% endif %}</div><br>

    
      
{% if user.is_authenticated %}
 {% if not exist %}
  {% if not own_listing %}
    {% if not products.ended %}
     <form action="/bid/{{products.title}}" method="POST">
      {% csrf_token %}
      <div class="form-group">
          {% include 'auctions/alert.html' %}
        <input type="number" name="bid-price" placeholder="Enter Your Bid Amount" class="float-left form">
        <button class="btn btn-round btn-danger float-right" type="submit"><i class="fa fa-gavel"></i> PlaceBid</button>
     </div>
   </form>
   {% else %}
    <a class="form-control btn btn-warning rounded border">Auction Closed By Owner</a>
   {% endif %}
   {% endif %}

  {% if own_listing %}
  <a href="/ended/{{products.title}}" class="btn btn-round btn-warning btn-sm float-right form-control" type="submit"><i class="fa fa-times "></i> End Auction</a>
  {% endif %}

     <br>
     <hr>

  {% if not watch %}
  <form action="/add-watchlist/{{products.title}}" method="POST">
     {% csrf_token %}
    <p>
      <button class="btn btn-round btn-danger btn-sm" type="submit"><i class="fa fa-eye "></i> Add Watchlist</button>
    </p>
  </form>
  {% else %}
   <a class=" btn btn-round btn-danger btn-sm" href="/remove-watchlist/{{products.title}}">Remove From Watchlist</a>
  {% endif %}

  {% endif %}<!-- Exist -->

    {% else %}
     <h5 class="msg-before-login">Please <a href="{% url 'login' %}">login</a> To Place Your Bid </h5>
    {% endif %}
  </div>
     </div>
       </div>
          </div>

         <hr>

        <div class="comment-wrapper">
          <div class="container">
            <div class="panel panel-info">
              {% if user.is_authenticated %}
                <div class="panel-heading">
                  <h5>Add Your Comment Here</h5>
                </div>
                {% else %}
                <div class="panel-heading">
                <h5 class="msg-before-login">Please <a href="{% url 'login' %}">login</a> To Add Your Comment Here </h5>
                </div>
                {% endif %}
                <div class="panel-body">
                 {% if user.is_authenticated %}
                  <form action="/comment/{{products.title}}" method="POST">
                    {% csrf_token %}
                    <textarea class="form-control" placeholder="Write your comment..." name="comment" rows="3"></textarea>
                    <button type="submit" class="btn btn-info btn-sm btn1">Post Comment</button>
                  </form>
                    {% else %}
                    <textarea class="form-control" placeholder="Write your comment..." rows="3" disabled="True"></textarea>
                    <button type="button" class="btn btn-info btn-sm btn1" disabled>Post Comment</button>
                    {% endif %}
                    <div class="clearfix"></div>
                    <hr>
                    {% for comment in comments %}
                    <ul class="media-list">
                        <li class="media">
                            <a href="#" class="pull-left">
                                <img src="https://cdn.onlinewebfonts.com/svg/img_504768.png" alt="" class="img-circle">
                            </a>
                            <div class="media-body">
                                <span class="text-muted float-right">
                                    <small class="text-muted">{{comment.date}}</small>
                                </span>
                                <strong class="text-success ml-2">{{comment.user}}</strong>
                                <p class="ml-2">
                                    {{comment.comment}}
                                </p>
                            </div>
                        </li>
                    </ul>
                    {% endfor %}
                </div>
            </div>
        </div>

     </div>
{% endblock %}

