asgiref==3.2.7
astroid==2.4.2
automium==0.2.6
automium-web==0.1.1
blinker==1.4
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
dj-database-url==0.5.0
Django==2.2.13
django-bootstrap-form==3.4
django-braces==1.14.0
django-embed-video==1.3.3
django-heroku==0.3.1
django-mysql==3.7.0
django-seed==0.2.2
emit==0.4.0
function==1.2.0
idna==2.10
include==0.2.2
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
legacy==0.1.6
markdown2==2.3.9
MarkupSafe==1.1.1
mccabe==0.6.1
myapp==0.1.dev0
mysql-connector-python==8.0.20
mysqlclient @ file:///D:/PYTHON%20TRAINING/Practice/mysqlclient-1.4.6-cp38-cp38-win32.whl
Pillow==7.2.0
pony==0.7.13
product==0.1.1.1
protobuf==3.12.2
psutil==5.7.2
psycopg2==2.8.5
pylint==2.5.3
pylint-django==2.0.15
pylint-plugin-utils==0.6
PyMySQL==0.9.3
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
reverse==0.1.0
six==1.15.0
SQLAlchemy==1.3.18
sqlparse==0.3.1
square==0.0.3
store==2020.2.10
text-unidecode==1.3
toml==0.10.1
urllib3==1.25.10
Werkzeug==0.16.0
whitenoise==5.1.0
wrapt==1.12.1
